body{
    font-family: 'Lato', sans-serif;
}
header{
    background: rgba(229, 84, 115, 0.10);
    width: 1900px;
    height: 850px;

}
.banner{
    display: flex;
    padding: 50px 240px 0px 240px;
    justify-content: space-between;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 200px;
    margin-bottom: 30px;
    max-width: 700px;
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 630px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 40px;
}

/* feature part */

.feature-heading{
    text-align: center;
    margin: 180px 640px 50px 640px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.feature-item{
    display: flex;
    margin: 0px 240px;
    gap: 25px;
}
.pink-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
    padding: 110px 75px 0px 75px;
    /* width: 460px;
    height: 540px;  */
}
.mixed-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 120px 50px 50px 50px;

    /* width: 460px;
    height: 540px;   */
}
.yellow-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 75px 0px 75px;
}
.item-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline; 
}

/* hot deat offer part */
.hot-deal{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
    margin-bottom: 130px;
}
.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.off{
   color: #E55473; 
}
.offer-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
.hot-deal-offer{
    text-align: center;
    padding: 230px 150px 160px 350px;
}
.hot-deal img{
    padding: 100px 430px 100px 0px;
}

/* socail media part */
.socail-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800; 
}
.socail-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin: 0px 640px 50px 640px;
}
.socail-image{
    display: flex;
    gap: 25px;
    margin: 0px 240px;
}