body{
    font-family: 'Lato', sans-serif;
}
header{
    background: rgba(229, 84, 115, 0.10);
    width: 1900px;
    height: 850px;

}
.banner{
    display: flex;
    padding: 50px 240px 0px 240px;
    justify-content: space-between;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 200px;
    margin-bottom: 30px;
    max-width: 700px;
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 630px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 40px;
}

/* feature part */
.feature{
    width: 1900px;
}

.feature-heading{
    text-align: center;
    margin: 180px 640px 50px 640px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.feature-item{
    display: flex;
    margin: 0px 240px;
    gap: 25px;
}
.pink-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
    padding: 110px 75px 0px 75px;
}
.mixed-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 120px 50px 50px 50px;
}
.yellow-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 75px 0px 75px;
}
.item-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline; 
}
/* servise part */
.servise-area{
    width: 1440px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 240px 0px 240px;
    
}
.servise{
    display: flex;
    gap: 100px;
    padding: 90px 150px;
}
.delivery{
    text-align: center;

}
.servise-text{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px; 
}

/* hot deat offer part */
.hot-deal{
    display: flex;
    width: 1900px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
    margin-bottom: 130px;
}
.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.off{
   color: #E55473; 
}
.offer-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
.hot-deal-offer{
    text-align: center;
    padding: 230px 150px 160px 350px;
}
.hot-deal img{
    padding: 100px 430px 100px 0px;
}

/* socail media part */
.socail-mediea-area{
    width: 1900px;
}
.socail-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800; 
}
.socail-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin: 0px 640px 50px 640px;
}
.socail-image{
    display: flex;
    gap: 25px;
    margin: 0px 240px;
}

/* latest deal part */
.latest-deal{
    background-image: url('../Flower Asset/Rectangle 9.png');
    width: 1440px;
    margin: 130px 240px;
    background-repeat: no-repeat;
}
.latest-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
}
.latest-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.subscribe{
    text-align: center;
    padding: 50px 0px 120px 0px;

}
.subscribe input[type="email"]{
    border-radius: 8px;
    background: #FFF;
    padding: 10px 150px 10px 10px;
    border: none;
}

/* footer part */
footer{
    background: #111010;
    width: 1900px;
}
.footer-title{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    padding-top: 130px;
}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 640px;
}
.copy-right-text{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 130px; 
}