body{
    font-family: 'Lato', sans-serif;
}
header{
    background: rgba(229, 84, 115, 0.10);
    width: 1900px;
    height: 850px;

}
.banner{
    display: flex;
    padding: 50px 240px 0px 240px;
    justify-content: space-between;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 200px;
    margin-bottom: 30px;
    max-width: 700px;
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 630px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 40px;
}